body{
    background-color: red;
}


.blue{ 
    background-color: cornflowerblue;
    height: 50px;
}

.green{
       background-color: chartreuse;
       height: 150px;
}
.orange{
       background-color: orange;
    height: 100px;
        
}
.grey{
      background-color: grey;
      height: 50px;
     
    
}   

/* sm 
@media (min-width:576px){
    body{
        background-color: red
    }
}
*/

/*md
@media (min-width:768px){
    body{
background-color: blue;}
}
*/

*/

/*lg
@media (min-width:922px){
    body{
background-color: orange;}
}
*/


/*xl
@media (min-width:1100px){
    body{
background-color: yellow;}
}
*/