

.blue{ 
    background-color: cornflowerblue;
    height: 95px;
}

.green{
       background-color: chartreuse;
       height: 95px;
}
.orange{
       background-color: orange;
       height: 500px;
      
}
.grey{
      background-color:grey;
      height: 150px;

}

.red{
     background-color: darkred;
     height: 150px;
    
    }
     
  

 sm 
@media (min-width:576px){
    body{
        background-color: red
    }
}
*/

/*md
@media (min-width:768px){
    body{
background-color: blue;}
}
*/

*/

/*lg
@media (min-width:922px){
    body{
background-color: orange;}
}
*/


/*xl
@media (min-width:1100px){
    body{
background-color: yellow;}
}
*/